header {
    background: #7700FF;
}
.logo {
        font-weight: bold;
        margin: 0; padding: 0;
    }

nav {
        justify-self: right;
}
ul {
            list-style-type: none;
            margin: 0; padding: 0;
}
li {
                list-style-type: none;
                float: left;

}
a {
      padding: 1.5em;
      text-transform: uppercase;
      font-size: .8em;
      color: white;
}
&:hover {
        background: #8E2BFF;
        }
