<header>
<div class = "container">
<a href="/" class="logo">{{apptitle}}</a>
<nav>
<ul>


</ul>
<li><a href="/" >Home</a></li>
<li><a href="/about" >About</a></li>
<li><a href="/contact" >Contact Us</a></li>
</nav>

</div>

</header>
